
body {
    margin: 0;
    padding: 0;
    color: rgba(111, 111, 15, 0.994);
}
.container{
  margin: 50px;
  margin-left: 85px;
}

header {
    background-color: #d1c8c8;
    color: rgba(111, 111, 15, 0.994);
    text-align: center;
    padding: 50px;
}

.col{
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: #eee5e5;
}
ul{
   list-style-type: decimal;
}

#team_01{
margin: 30px;
}
.col-md-4 img{
    border: 3px solid yellow;
    box-shadow: 10px 10px 8px green;
    border-radius: 10px;
}

